/* Background color of the whole context menu */
.choice-box .context-menu {
    -fx-background-color: white;
}

/* Focused item background color in the list */
.choice-box .menu-item:focused {
    -fx-background-color: red;
}

/* Text color of non-focused items in the list */
.choice-box .menu-item > .label {
    -fx-text-fill: black;
}

/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}

/* Background color of the control itself */
.choice-box {
    -fx-background-color: #efefef;
    -fx-mark-color: red;
    /* arrow color */
}


/* Selected item text color on the control itself */
.choice-box > .label {
    -fx-text-fill: black;
}