.code-area {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: #efefef;
    -fx-padding: 5 10;
}

.code-area:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: #aaa;
}

.code-area .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}

.code-area .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}